<section id="section{{ sectionno }}" class="mod-banner text-white d-flex align-items-center {% if item.xl %} xl custom-cursor {% endif %}"  data-scroll-section>
	<div class="content d-flex align-items-center w-100">
		<div class="container">
			  <div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<h2 class="h1" style="margin: 0"> {{ item.titel }} </h2>
				</div>
			  </div>
		</div>
		<a href="#section{{ sectionno + 1 }}" data-scroll-to class="scrolldown">
			<div class="pijl">
				<span class="line"></span>
				<span class="p1"></span>
				<span class="p2"></span>
			</div>
		</a>
	</div>

	{% if item.achtergrond == 'video' %}
		<div class="vimeo-wrapper">
			<iframe src="https://player.vimeo.com/video/{{ item.video }}?background=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		</div>
	{% else %}
		<div id="bannerslider" class="bannerslider carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="8000" data-scroll data-scroll-speed="-3">
	  	<div class="carousel-inner">
			  
			{% set theslide = random(item.slides|length) %}
			
			{% if theslide == '0' %}
				{% set theslide = '1' %}
			{% endif %}
			
			{% for item in item.slides %}
				<div class="carousel-item {% if loop.index == theslide %}active{% endif %} d-flex align-items-center" ata-bs-interval="8000">
					<div class="bg" style="background-image: url({{ Image(item.afbeelding).src }})"></div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

</section>