<section id="section{{ sectionno }}" class="mod-projecten {{ item.achtergrond }}" data-scroll-section>
	<div class="container anime-fadein">
		<div class="row">
			<div class="col-md">
				{% if item.titel %}
					<h2 class="h3 mb-1 mb-md-5"> {{ item.titel }} </h2>
				{% endif %}
			</div>
			<div class="col-md-auto">
				{% if item.link %}
					<a class="btn-link" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% if item.projecten %}
		{% set totaalprojecten = item.projecten|length %}
		<div class="container">
			<div class="js-slick-projecten">
				{% for item in item.projecten %}
					<div class="item">
						<div class="row">
							<div class="col-md-4 col-lg-3 content">
								<div class="inside">
									<h3 class="h4"> {{ item.title }} </h3>
									{{ item.samenvatting }}
									<span class="index">0{{ loop.index }} / 0{{ totaalprojecten }} </span>
								</div>
							</div>
							<div class="col-md-8 col-lg-9 image order-first order-md-last">
								<div class="ratio-4x3 w-100 mb-30 mb-md-0">
									<div class="bg-cover" style="background-image: url({{ Image(item.thumbnail)|resize(1024) }})"></div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}  
</section>