{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="mod-content bg-bluedark part1" data-scroll-section>
				<div class="container-fluid">
					<div class="image ratio-16x9 w-100 anime-reveal">
						<div class="bg-cover" style="background-image: url({{ Image(post.thumbnail)|resize(1920) }})"></div>
					</div>
					<div class="row">
						<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
							<div class="vlak bg-greylight anime-fadein">
								<h1 class="h2"> {{ post.title }} </h1>
								<div class="line-before">
									<p> {{ post.samenvatting }} </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="mod-content bg-bluedark part2" data-scroll-section>
				<div class="container">
					<div class="row">
						<div class="offset-md-6 col-md-6 col-lg-4">
							<div class="details anime-fadein">
								{% if post.titel_1a %}
									<h2 class="h5"> {{ post.titel_1a }} </h2>
								{% endif %}
								{% if post.details %}
									<div class="lijst">
										{% for item in post.get_field('details') %}
											<div class="lijst-item">
												<div class="row">
													<div class="col-auto">
														<label>{{ item.label }}</label>
													</div>
													<div class="col">
														{{ item.tekst }}
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</section>
			
			
			<section class="mod-content bg-transparent part3" data-scroll-section>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="image ratio-3x4 w-100 anime-reveal pull-up mb-4 mb-md-0">
								<div class="bg-cover" style="background-image: url({{ Image(post.afbeelding_1)|resize(1920) }})"></div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 d-flex align-items-end">
							<div class="nogwat anime-fadein">
								{% if post.titel_1b %}
									<h2 class="h5 line-bottom"> {{ post.titel_1b }} </h2>
								{% endif %}
								{% if post.tekst_1b %}
									{{ post.tekst_1b }}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</section>
			
			{% for item in post.get_field('contentblokken') %}
			
				{% if item.acf_fc_layout == 'text' %}
					{% include 'partial/content-text.twig' %}	
				
				{% elseif item.acf_fc_layout == 'text_x2' %}
					{% include 'partial/content-text-2x.twig' %}	
				
				{% elseif item.acf_fc_layout == 'image' %}
					{% include 'partial/content-image.twig' %}	
				
				{% elseif item.acf_fc_layout == 'image_x2' %}
					{% include 'partial/content-image-2x.twig' %}	
				
				{% elseif item.acf_fc_layout == 'text_image' %}
					{% include 'partial/content-text-image.twig' %}
				
				{% elseif item.acf_fc_layout == 'text_image_x2' %}
					{% include 'partial/content-text-image-2x.twig' %}
				
				{% elseif item.acf_fc_layout == 'statement' %}
					{% include 'partial/content-statement.twig' %}
					
				{% endif %}
				
			{% endfor %}
			
			<section class="mod-cta bg-half part5 pt-0" data-scroll-section>
				<div class="container">
					<div class="vlak anime-fadein">
						<div class="after bg-grey"></div>
						<div class="row">
							<div class="col-md-8 col-lg-9">
								{% if post.cta_titel %}
									<h2>{{ post.cta_titel }}</h2>
								{% endif %}
								{{ post.cta_tekst }}
							</div>
						</div>
						{% if post.cta_link %}
							<a class="btn btn-primary"  href="{{ post.cta_link.url }}" target="{{ post.cta_link.target }}">{{ post.cta_link.title }}</a>
						{% endif %}
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
