{% set newstilo = random(8) %}

{% if stilo == newstilo %}
	{% set newstilo = random(8) %}
{% endif %}

{% if stilo == newstilo %}
	{% set newstilo = random(8) %}
{% endif %}

{% if stilo == newstilo %}
	{% set newstilo = random(8) %}
{% endif %}

{% set stilo = newstilo %}

<a href="{{ item.link }}" target="{{ item.link.target}}" class="tease tease-{{ item.post_type }} tease-{{ stilo }} noline">
	<div class="bg" style="background-image: url({{ Image(item.thumbnail)|resize(800) }})"></div>
</a>